body{
  background-image:url("nza_background.jpg");
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color:black;
}

div.whitespace{
  background-color:white;
  margin:auto;
  width:900px;
  height:100%;
  box-shadow: 1px 1px 1px 1px gray;
  padding:10px;
}

img.logo{
  margin-left:75px;
  margin-top:38px;
}


ul#navbar{
  list-style-type:none;
  border-top: .5px solid black;
  border-bottom: .5px solid black;
  margin-top:25px;
  margin-left:42px;
  margin-right:45px;
  padding-top:5px;
  padding-bottom:5px;
  font-size:14px;
}

ul li {
  display:inline;
}


li.slash{
  color:#EEEBE1;
  margin-left:21px;
  margin-right:21px;
}

a {
  color:#0f0f0f;
}

a:hover{
  color:#923530;
  text-decoration: none;
}

a:active{
  color:#923530;
}


nav{
  margin-bottom:10px;
}

div#redbox{
  width:180px;
  height:auto;
  margin-left:26px;
  background: #923530;
  background: -webkit-linear-gradient(#923530, #923530, #923530, #8B322E, #7D2F2B);
  background: -o-linear-gradient(#923530, #923530, #923530, #8B322E, #7D2F2B);
  background: -moz-linear-gradient(#923530, #923530, #923530, #8B322E, #7D2F2B);
  background: linear-gradient(#923530, #923530, #923530, #8B322E, #7D2F2B);

}

h6.sidebar{
  margin-left:-28px;
  margin-bottom:10px;
  padding-top:20px;
  font-weight: bold;
}

hr{
  color:black;
  margin-top:-3px;
  margin-bottom:10px;
  margin-left:0px;
  border-width:1px;
  width:155px;
}

ul.sidebar{

}

ul li.sidebar{
  display:block;
  margin-left:-28px;
  margin-bottom:8px;
  font-size:12px;
}

img#sidebar{
  margin-left:-28px;
}

a.sidebar{
  color:white;
}

a.sidebar:hover{
  font-weight: bold;
}

a.sidebar:visited{
  color:white;
}

span.sidebarbold{
  display:block;
  color:white;
  font-size:10px;
  margin-top:1px;
  margin-left:-28px;
  font-weight:bold;
}

span.sidebar{
  display:block;
  color:white;
  font-size:10px;
  margin-left:-28px;
  margin-top:-2px;
  padding-bottom:7px;
}

img.news{
  margin-left:12px;
  padding-top:10px;
}

p.news{
  margin-left:-3px;
  margin-top:17px;
  font-size:12px;
  line-height:125%;
}

p.who{
  margin-left:24px;
  margin-top:8px;
  font-size:12px;
  line-height: 125%;
}

img.who{
  margin-top:7px;
  margin-bottom:7px;
  margin-left:10px;
}

img.whoright{
  margin-left:22px;
}

strong{
  color:black;
}

a.top2,a.archive{
  text-decoration:underline;
}

a.top:visited{
  color:black;
}
