body{
  background-image:url("nza_background.jpg");
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color:black;
}

div.whitespace{
  background-color:white;
  margin:auto;
  width:900px;
  height:100%;
  box-shadow: 1px 1px 1px 1px gray;
  padding:10px;
  margin-bottom: 50px;
}

img.logo{
  margin-left:75px;
  margin-top:38px;
}


ul#navbar{
  list-style-type:none;
  border-top: .5px solid black;
  border-bottom: .5px solid black;
  margin-top:25px;
  margin-left:42px;
  margin-right:45px;
  padding-top:5px;
  padding-bottom:5px;
  font-size:13px;
  display: block;
}

ul li {
  display:inline;
}


li.slash{
  color:#EEEBE1;
  margin-left:21px;
  margin-right:21px;
}

a {
  color:#0f0f0f;
}

a:hover{
  color:#923530;
  text-decoration: none;
}

a:active{
  color:#923530;
}


nav{
  margin-bottom:10px;
}

div#redbox{
  width:180px;
  height:auto;
  margin-left:26px;
  background: #923530;
  background: -webkit-linear-gradient(#923530, #923530, #923530, #8B322E, #7D2F2B);
  background: -o-linear-gradient(#923530, #923530, #923530, #8B322E, #7D2F2B);
  background: -moz-linear-gradient(#923530, #923530, #923530, #8B322E, #7D2F2B);
  background: linear-gradient(#923530, #923530, #923530, #8B322E, #7D2F2B);

}

h6.sidebar{
  margin-left:-28px;
  margin-bottom:10px;
  padding-top:20px;
  font-weight: bold;
}



hr{
  color:black;
  margin-top:-3px;
  margin-bottom:10px;
  margin-left:0px;
  border-width:1px;
  width:155px;
}

ul.sidebar{

}

ul li.sidebar{
  display:block;
  margin-left:-28px;
  margin-bottom:8px;
  font-size:12px;
}



img#sidebar{
  margin-left:-28px;
}

a.sidebar{
  color:white;
}

a.sidebar:hover{
  font-weight: bold;
}

a.sidebar:visited{
  color:white;
}

span.sidebarbold{
  display:block;
  color:white;
  font-size:10px;
  margin-top:1px;
  margin-left:-28px;
  font-weight:bold;
}


span.sidebar{
  display:block;
  color:white;
  font-size:10px;
  margin-left:-28px;
  margin-top:-2px;
  padding-bottom:7px;
}



img.news{
  margin-left:12px;
  padding-top:10px;
}

p.news{
  margin-left:-3px;
  margin-top:17px;
  font-size:12px;
  line-height:125%;
}

p.who{
  margin-left:24px;
  margin-top:8px;
  font-size:12px;
  line-height: 125%;
}

img.who{
  margin-top:7px;
  margin-bottom:7px;
  margin-left:10px;
}

img.whoright{
  margin-left:22px;
}

strong{
  color:black;
}

a.top2,a.archive{
  text-decoration:underline;
}

a.top:visited{
  color:black;
}

hr.usahr {
  width: 396px;
  height: 2px;
  display: block;
  border-style: inset;
  border-width: 1px;
}

hr.inthr{
  height: 2px;
  display: block;
  border-style: inset;
  border-width: 1px;

}

table{
      width: 582px;
}

p.where{
  width: 615px;
  height: 95px;

}

ul#navbar2 {
  width: 828px;
  height: 21px;
  display:inline block;
  text-align: center;
  font-size: 10px;
  border-top: 3px;
  border-color: black;

}

a.copyright{
  font-size: 10px;
  color: #c0c0c0;
  text-align: center;

}

p.copyright{
  text-align: center;
  color: #c0c0c0;
}

a.copyright:hover{
  color: #923530;
}

td{
  font-size: 12px;
}

img.contactpg{
margin-left: 10px;
margin-top: 10px;
margin-bottom: 15px;

}

footer {
  display: inline-block;
}

div.brtext{
  margin-left: 10px;
  font-size: 12px;
}

tbody{
  width: 200px;
  height: 30px;
}

div.sidebar2{
  width: 216px;
  height: 296px;
  background-color: #ddd7d2;
  display: inline-block;
  margin-left: -32px;
}

img.sidebar2{
  margin-top: 9px;
  margin-left: 9px;
  box-shadow:black;
}

div.wherewework{
  font-size: 10px;
}

li.sidebar2 {
  margin-left: -40px;
  margin-top: 9px;
}

div.wherewework{
  margin-left: -30px;
  margin-bottom: 17px;
}

div.brtext {
  margin-bottom: 70%;
}

div.footrow{
  margin-left: 186px;
  font-size: 10px;
  width: 828px;
  height: 21px;
}
